:root{
    --navbar_bar:rgb(115, 166, 218);
    --hover_background:white;
    --navbar_text:white;
    --navbar_active:black;
    --header_bar:rgb(42, 42, 58);
    --footer_text:white;
    --footer_bar:rgb(115, 166, 218);
    --drop_shadows:black;
    --back_ground:rgb(219, 230, 250);
    --container:white;
    --hover:black;
}

body{
  margin:0;
  padding:0;
  background-color: var(--back_ground)
}

/* Add a black background color to the top navigation */
.navbar {
  display:flex;
  position:fixed;
  width:100%;
  top:0;
  background-color: var(--navbar_bar);
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0px;
  padding:0px;
  box-shadow: 0px 5px 10px var(--drop_shadows);  
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    text-align: center;
    color: var(--navbar_text);
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: var(--hover_background);;
    transition: all 0.9s ease 0.2s;
    color: var(--hover)
     
    
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    color: var(--navbar_active);
  }



.header{
  display:flex;
  margin-top: 80px;
}
 

  #display_text{
    margin:10px;
  }


.container{
  display:flex;
  flex-wrap: nowrap;  
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--container);
  border-radius: 5px;
  
}
.container:hover{
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.2);
}

.item{
 flex:33.33%;
  padding:2px 16px;
  text-align: center;
  
}

.header{

  margin-top:50px;
  margin-left:10px;

}
img {
  
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  max-width: 300px;
  margin-top: 10px;
  
  
  
}

img:hover {
  box-shadow: 0px 5px 5px var(--drop_shadows);
}
    .footer {
      
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: var(--footer_bar);
      color: var(--footer_text);
      text-align: center;
      margin-bottom: 1px;
      margin-top: 10px;
      box-shadow: -0px -5px 5px var(--drop_shadows);
   
      
    }
    .footer a{
      color: var(--footer_text);
    }